@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap");

body {
  margin: 0;
  border: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 860px;
  margin: 0px auto;
}

.dark {
  background-color: #1f2937;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.logo {
  margin: 0px;
}

.nav-links {
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #3882f6;
}

.nav-links ul {
  /* text-align: center; */
  /* padding: 0px 14px; */
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

li {
  display: inline;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding-bottom: 4rem;
  gap: 4rem;
}

.hero img {
  max-width: 500px;
}

.btn.primary {
  background-color: #3882f6;
  width: 10rem;
  height: 2rem;
  color: white;
  font-weight: bold;
  border: 0px;
  border-radius: 5px;
}

.btn.primary:hover {
  background-color: green;
  cursor:pointer;
}

.boxes {
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
  width: 500px;
  margin: 40px auto;
  text-align: center;
}

.box {
  border: 3px solid #3882f6;
  border-radius: 10px;
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  padding: 20px;
  color: black;
}

.carousel h1 {
  text-align: center;
  margin-top: 40px;
}

.grey {
  background-color: #e5e7eb;
}

blockquote {
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
  margin-top: 40px;
}

.quote {
  padding: 40px 20px;
}

.quote p {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.cta-bg {
  background-color: #3882f6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  border-radius: 5px;
  padding: 40px 60px;
  margin-top: 80px;
}

.cta {
  color: white;
  margin: 0px;
  padding: 0px;
}

.cta-text {
  margin: 0px;
  padding: 0px;
}

.cta-btn {
  border: 2px solid white;
  color: white;
  background-color: #3882f6;
  font-size: 14px;
  padding: 5px 25px;
  border-radius: 5px;
  font-weight: bold;
}

.cta-btn:hover{
  cursor:pointer;
  background-color: white;
  color:#3882f6;
}

footer {
  background-color: #1f2937;
  text-align: center;
  color: white;
  padding: 14px 0px;
  margin-top: 40px;
}